<launch>
 
<arg name="server" default="localhost"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node">
    <rosparam subst_value="true">
      server: 192.168.1.105
      port: 3883

      update_frequency: 100.0
      frame_id: world

      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: false
      broadcast_tf: true

      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      trackers:
      - three
      - wl_r
      - wl_o
      - wa_r
      - wa_o
      - vt
      #- SecondTracker
    </rosparam>
    <remap from="/vrpn_client_node/three/pose" to="/mavros/vision_pose/pose"/>
    <remap from="/vrpn_client_node/wl_r/pose" to="/world_to_link_ori/pose"/>
    <remap from="/vrpn_client_node/wa_r/pose" to="/world_to_apriltags_ori/pose"/>
    <remap from="/vrpn_client_node/wl_o/pose" to="/world_to_link_pose/pose"/>
    <remap from="/vrpn_client_node/wa_o/pose" to="/world_to_apriltags_pose/pose"/>
    <remap from="/vrpn_client_node/vt/pose" to="/vt/pose"/>
  </node>

  <node name="easy_grasp" pkg="Camera_Control" type="easy_grasp" output="screen" />

</launch>
